:root {
  --height: 400px;
  --second: 400px;
  --third: 800px;
}
#main-graph {
	position:absolute;
	top: 0%;
	left: 0%;
	width: 69%;
	height: var(--height);
	border:1px solid black;
}
#filter {
	position:absolute;
	top: 0%;
	right: 0%;
	width: 30%;
	height: var(--height);
}
#movie-filter{
	height: 80%;
	overflow: auto;
}
#people-filter{
	height: 80%;
	overflow: auto;
}
#options{
	height: 80%;
	overflow: auto;
}
#title {
	height: 80%;
	overflow: auto;
}
#amount-graph {
	position:absolute;
	top: var(--second);
	left: 0%;
	width: 50%;
	height: var(--height);
	border:1px solid black;
}
#budget-gross-graph {
	position:absolute;
	top: var(--second);
	right: 0%;
	width: 50%;
	height: var(--height);
	border:1px solid black;
}
#gross-graph {
	position:absolute;
	top: var(--second);
	right: 0%;
	width: 50%;
	height: var(--height);
	border:1px solid black;
}
#budget-graph {
	position:absolute;
	top: var(--second);
	right: 0%;
	width: 50%;
	height: var(--height);
	border:1px solid black;
}
#score-box-graph {
	position:absolute;
	top: var(--third);
	left: 0%;
	width: 50%;
	height: var(--height);
	border:1px solid black;
}
#score-year-graph {
	position:absolute;
	top: var(--third);
	right: 0%;
	width: 50%;
	height: var(--height);
	border:1px solid black;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

button {
	outline: none;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}